.card {
  background-color: #9ba4b4;
}

.weatherInfo {
  background-color: #2d6187;
}

main {
  background-color: #394867;
  color: white;
  opacity: 90%;
}

body {
  background-color: #394867;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23637373' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%238db596' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23647b7b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%2368a193' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23658383' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%234a8c8f' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23668b8b' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23397688' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23679393' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23355f7a' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23679b9b' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23394867' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.green {
  width: 8rem;
  background-color: #81b214;
}
.orange {
  width: 8rem;
  color: white;
  background-color: #ffd36b;
}
.red {
  width: 8rem;
  background-color: #ec0101;
}
